<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960719311966-ema097sp4h7rro3om5h5fq3njutjns35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960719311966-ema097sp4h7rro3om5h5fq3njutjns35</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>960719311966-q9ro9av7sjplgf23m3sqj6r029m8e4ou.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCHkbYGi-76aGdxbbsdXib0rzMqixH9ULU</string>
	<key>GCM_SENDER_ID</key>
	<string>960719311966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vgts.com.githubaction</string>
	<key>PROJECT_ID</key>
	<string>auto-mailer-6a32d</string>
	<key>STORAGE_BUCKET</key>
	<string>auto-mailer-6a32d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960719311966:ios:96734b819257b4727490cf</string>
	<key>DATABASE_URL</key>
	<string>https://auto-mailer-6a32d-default-rtdb.firebaseio.com</string>
</dict>
</plist>